In [1]:
import pandas as pd

In [2]:
x=pd.read_csv(r"D:\twitter_training.csv")

In [3]:
x

,TWEET_ID,TOPIC,SENTIMENT,TEXT
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
...,...,...,...,...
74677,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74678,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74679,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74680,9200,Nvidia,Positive,Just realized between the windows partition of...
74681,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [4]:
x.columns

Index(['TWEET_ID', 'TOPIC', 'SENTIMENT', 'TEXT'], dtype='object')

In [5]:
x.isnull().sum()

TWEET_ID       0
TOPIC          0
SENTIMENT      0
TEXT         686
dtype: int64

In [7]:
x=x.dropna(subset=["TEXT"])

In [8]:
x.loc[:,"TEXT"]=x["TEXT"].str.lower()

In [9]:
x.loc[:,"TEXT"]=x["TEXT"].str.replace(r"http\\S+|www\\S+","",regex=True)

In [10]:
x.loc[:,"TEXT"]=x["TEXT"].str.replace(r"[^\w\s]","",regex=True)

In [11]:
x.loc[:,"TEXT"]=x["TEXT"].str.replace(r"\s+"," ",regex=True).str.strip()

In [12]:
x.loc[:,"SENTIMENT"]=x["SENTIMENT"].str.strip().str.capitalize()

In [13]:
x.loc[:,"TOPIC"]=x["TOPIC"].str.strip().str.lower()

In [14]:
x.duplicated().sum()

np.int64(4613)

In [15]:
x.isnull().sum()

TWEET_ID     0
TOPIC        0
SENTIMENT    0
TEXT         0
dtype: int64

In [17]:
x.shape

(73996, 4)

In [18]:
x["SENTIMENT"].value_counts()

SENTIMENT
Negative      22358
Positive      20655
Neutral       18108
Irrelevant    12875
Name: count, dtype: int64

In [19]:
x=x.drop_duplicates()

In [20]:
x.to_csv("cleaned_twitter_dataset.csv",index=False)